.top_text{
    position: absolute;
    text-align: center;
    color: white;
    top: 15%;
    width: 100%;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.bottom_text{
    text-align: center;
    position: absolute;
    font-size: 40px;
    color: white;
    bottom: 15%;
    width:100%;
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.Meme{
    position: relative;
    float:left;
    clear:both;
}

.Meme img{
    float: left;
}

#User_Inputs{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text]{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 20%;
    padding: 7px 10px;
    margin: 8px 0;
    border-radius: 4px;
}

.shadow{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: grey;
}

.shadow:hover{
    opacity: .7;
}